@media (max-width: 600px) {
  /* ///////////////////header//////////////// */
  h1 {
    font-size: 1.5rem;
  }
  .header {
    flex-direction: column;
    background-color: black !important;
  }
  .start-text-header {
    width: 100%;
    height: 50%;
  }
  .start-text-header p,
  h1 {
    text-align: center;
    margin: 5% auto !important;
    width: 100%;
  }
  .flag {
    display: none;
  }
  .end-image-header {
    width: 100%;
    height: 50%;
  }
  .image-baner-1 {
    height: 100%;
    top: 0;
  }
  .image-baner-2 {
    width: 40%;
  }
  .image-baner-3 {
    display: none;
  }
  /* End///////////////////////////header//////////////// */
  /* Start------About-Us//////////////////////// */
  .about-us {
    margin-top: 10%;
    flex-direction: column;
    clip-path: none;
    border-top: 10px double black;
    height: 130dvh;
  }
  .img-about-us {
    width: 100%;
    height: 50%;
  }
  .txt-about-us {
    width: 90%;
    height: max-content;
    margin: auto;
    text-align: center;
  }
  .hint-about {
    margin: 5% auto;
    height: max-content;
  }
  .hint-about i {
    display: none;
  }
  /* end------About-Us//////////////////////// */
  .our-services {
    margin-top: 10%;
    clip-path: none;
  }
  .container {
    flex-direction: column; /**/
  }
  .box:hover {
    flex: 1 1 50% !important;
  }

  .box > img {
    width: 100%;
    height: 100% !important;
  }
  .gallery-main {
    clip-path: none;
  }
  .client-say {
    clip-path: none;
    flex-direction: column;
    height: 51rem;
  }
  .text-client {
    width: 100%;
  }
  .content-client {
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .header {
    flex-direction: column;
    background-color: black !important;
  }
  .about-us {
    clip-path: none;
  }
  .start-text-header {
    width: 100%;
    height: 50%;
  }
  .start-text-header p,
  h1 {
    text-align: center;
    margin: 5% auto !important;
    width: 100%;
  }
  .flag {
    display: none;
  }
  .our-services {
    clip-path: none;
  }
  .end-image-header {
    width: 100%;
    height: 50%;
  }
  .gallery-main {
    clip-path: none;
  }
  .image-baner-1 {
    height: 100%;
    top: 0;
  }
  .image-baner-2 {
    width: 40%;
  }
  .image-baner-3 {
    display: none;
  }
}
